.expertise img{
    width: 13%;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    margin-top: 15px;
}

.firebase img{
    width: 10%;
}

.expertise{
    background-color: #c0c0c052;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 50px;
    width: 70%;
    margin: 20px auto;
}