.box{
    width: 30%;
    margin: 10px;
}
.box img{
    width: 70%;
    padding-left: 5%;
}
.box h2{
    text-align: center;
    padding-right: 40px;
}

.work{
    background-color:#F0FFF0;
    padding: 2%;
    height: 500px;
}