.header nav{
    background-color:slateblue;
    line-height: 40px;
    font-size: 20px;
    padding-left: 30%;
}
nav ul{
    display: flex;
    list-style: none;
}

nav li{
    color: white;
    margin-right: 20px;
    padding: 7px;
}
nav a:hover{
    color: goldenrod;
    background-color:whitesmoke;
}

.text-link{
    text-decoration: none;
    color: white;
    padding: 5px;
}