.contact h2{
    line-height: normal;
    letter-spacing: 1px;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.contact{
    background-color:#F0FFF0;
    height: 523px;

}

.touch{
    width: 50%;
    text-align: center;
    margin-left: 25%;
    padding-top: 10%;
}

.stylist{
    color: rgb(177, 112, 59) ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
}

.exact{
    margin-left: 12%;
}

.fixed{
    margin-right: 2%;
}

.oneT{
    margin-left: 5px;
}

.twoT{
    margin-right: 12%;
}
.thirdT{
    margin-left: 4%;
}
.fixing{
    margin-left: 5%;
}
.contact img{
    width: 7%;
    padding-right: 10px;

}

.socialMedia{
    margin-top: 20px;
    padding: 10px;
    margin-left: 45%;

}